/* Variáveis de Cores */

:root {
    --primary-custom-color: #061440;
    --secondary-custom-color: #038C3E;
    --tertiary-custom-color: #F2AE30;
    --background-custom-color: #B0B4BF;
    --text-primary-custom-color: #0D0D0D;
}

/* Fontes personalizadas */

@font-face {
    font-family: 'Octin College';
    src: url('fonts/OctinCollegeRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Octin College';
    src: url('fonts/OctinCollegeBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Octin College';
    src: url('fonts/OctinCollegeSemiBold.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Octin College';
    src: url('fonts/OctinCollegeLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/* Animações */
/* Fade-out para a esquerda */
@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* Fade-out para a direita */
@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* Fade-in vindo da esquerda */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Fade-in vindo da direita */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Fade-out para o formulário quando volta para o termo */
@keyframes fadeOutForm {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* Fade-in para os termos voltando da esquerda */
@keyframes fadeInTerm {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-out-left {
    animation: fadeOutLeft 0.5s forwards;
}

.fade-out-right {
    animation: fadeOutRight 0.5s forwards;
}

.fade-in-left {
    animation: fadeInLeft 0.5s forwards;
}

.fade-in-right {
    animation: fadeInRight 0.5s forwards;
}

/* Estilos */

html,
body {
    background: var(--background-custom-color);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: var(--primary-custom-color);
    color: var(--background-custom-color);
}

footer {
    background-color: var(--primary-custom-color);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: var(--background-custom-color);
}

.titulo-sistema {
    background-color: var(--secondary-custom-color);
}